In [1]:
import numpy as np
import pandas as pd

In [2]:
# Create a simple NumPy array
arr = np.array([1, 2, 3, 4, 5])
print("Array:", arr)

# Basic operations
print("Mean:", arr.mean())
print("Sum:", arr.sum())
print("Squared:", arr ** 2)

Array: [1 2 3 4 5]
Mean: 3.0
Sum: 15
Squared: [ 1  4  9 16 25]

In [3]:
# Create a simple DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["NY", "SF", "LA"]
}
df = pd.DataFrame(data)

print(df)

# Select a column
print("Names:", df["Name"].tolist())

# Basic stats
print("Average Age:", df["Age"].mean())

      Name  Age City
0    Alice   25   NY
1      Bob   30   SF
2  Charlie   35   LA
Names: ['Alice', 'Bob', 'Charlie']
Average Age: 30.0

In [4]:
# Select first two elements from array
print("First two:", arr[:2])

# Select first row from DataFrame
print("First row:\n", df.iloc[0])

# Select Name column only
print("Name column:\n", df["Name"])

First two: [1 2]
First row:
 Name    Alice
Age        25
City       NY
Name: 0, dtype: object
Name column:
 0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [5]:
# Filter people older than 28
older = df[df["Age"] > 28]
print("People older than 28:\n", older)

People older than 28:
       Name  Age City
1      Bob   30   SF
2  Charlie   35   LA

In [6]:
# Add a new column "Age in 5 years"
df["Age_in_5_years"] = df["Age"] + 5
print(df)

      Name  Age City  Age_in_5_years
0    Alice   25   NY              30
1      Bob   30   SF              35
2  Charlie   35   LA              40