# Stage 3 Project â€” Python Fundamentals

This notebook demonstrates basic use of Python, NumPy, and pandas with dummy data.

In [1]:
# Python basics
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers]
squares

[1, 4, 9, 16, 25]

In [2]:
import numpy as np

# NumPy example: create array and compute mean
arr = np.array([10, 20, 30, 40, 50])
arr.mean()

np.float64(30.0)

In [3]:
import pandas as pd

# pandas example: simple DataFrame
data = {"City": ["NY", "LA", "Chicago"], "Price": [500000, 700000, 300000]}
df = pd.DataFrame(data)
df.describe()

          Price
count       3.0
mean   500000.0
std    200000.0
min    300000.0
25%    400000.0
50%    500000.0
75%    600000.0
max    700000.0